<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans default-lazy-init="false">
	<bean id="brandinfoMapper" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.mybatis.spring.mapper.MapperFactoryBean">
				<property name="mapperInterface" value="com.mzy.moban.mapper.BrandInfoMapper" />
				<property name="sqlSessionFactory" ref="sqlSessionFactory" />
			</bean>
		</property>
	</bean>


	<bean id="app_userMapper" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.mybatis.spring.mapper.MapperFactoryBean">
				<property name="mapperInterface" value="com.mzy.moban.mapper.App_userMapper" />
				<property name="sqlSessionFactory" ref="sqlSessionFactory" />
			</bean>
		</property>
	</bean>


	<bean id="hdb_caseinfoMapper" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.mybatis.spring.mapper.MapperFactoryBean">
				<property name="mapperInterface" value="com.mzy.moban.mapper.Hdb_caseinfoMapper" />
				<property name="sqlSessionFactory" ref="sqlSessionFactory" />
			</bean>
		</property>
	</bean>




</beans>